MANIFEST
build
dist
*.log
*.pyc
.idea
*.iml
*.pid
.venv
.coverage
coverage.xml
.tox
conf/*.conf
statsd/storage/*
simple/storage/*
go-carbon/storage/*
cluster/storage/graphite1/*
cluster/storage/graphite2/*
cluster/storage/graphite3/*
_trial_temp
htmlcov
*.swp

